.App7 {
  font-family: sans-serif;
  text-align: center;
}
.AppL {
  padding: 1rem;
  border-radius: 0.25rem;
}
.AppI input {
  padding: 1rem 1rem;
  font-style: italic;
  width: 15rem;
}
.AppI ul li {
  display: inline;
  padding: 0.5rem;
  font-size: 1.5rem;
}
